{
	"env": {
		"browser": true,
		"phantomjs": true,
		"jquery": true,
		"qunit": true
	},
	"globals": {
		"sap": true,
		"pcagrar": true,
		"farmfacts": true,
		"ol": true,
		"Promise": true
	},
	"rules": {
		"comma-dangle": ["error", "never"],
		"no-cond-assign": "error",
		"no-console": "off",
		"no-constant-condition": "error",
		"no-control-regex": "error",
		"no-debugger": "error",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-empty-character-class": "error",
		"no-empty": "error",
		"no-ex-assign": "error",
		"no-extra-boolean-cast": "warn",
		"no-extra-parens": ["error", "functions"],
		"no-extra-semi": "error",
		"no-func-assign": "error",
		"no-inner-declarations": ["error", "functions"],
		"no-invalid-regexp": "error",
		"no-irregular-whitespace": "error",
		"no-negated-in-lhs": "error",
		"no-obj-calls": "error",
		"no-regex-spaces": "error",
		"no-sparse-arrays": "error",
		"no-trailing-spaces": "error",
		"no-unreachable": "error",
		"use-isnan": "error",
		"valid-jsdoc": ["off", {
			"requireReturn": false
		}],
		"valid-typeof": "error",

		"accessor-pairs": "error",
		"block-scoped-var": "warn",
		"consistent-return": "warn",
		"curly": ["error", "all"],
		"default-case": "warn",
		"no-alert": "error",
		"no-caller": "error",
		"no-div-regex": "error",

		"no-eval": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-fallthrough": "error",
		"no-floating-decimal": "error",
		"no-implied-eval": "error",
		"no-iterator": "error",
		"no-labels": "error",
		"no-lone-blocks": "error",
		"no-loop-func": "off",
		"no-native-reassign": "error",
		"no-new-func": "error",
		"no-new-wrappers": "warn",
		"no-new": "warn",
		"no-octal-escape": "error",
		"no-octal": "error",
		"no-proto": "error",
		"no-redeclare": "warn",
		"no-return-assign": "error",
		"no-script-url": "error",
		"no-self-compare": "error",
		"no-sequences": "error",
		"no-unused-expressions": "warn",
		"no-void": "error",
		"no-warning-comments": "warn",
		"no-with": "error",
		"radix": "error",
		"wrap-iife": ["error", "any"],
		"yoda": "error",

		"strict": ["error", "function"],

		"no-catch-shadow": "off",
		"no-delete-var": "error",
		"no-label-var": "error",
		"no-shadow-restricted-names": "error",
		"no-undef-init": "error",
		"no-undef": "error",
		"no-unused-vars": ["error", {"vars":"all", "args":"none"}],
		"no-use-before-define": ["error", "nofunc"],

		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"camelcase": "error",
		"consistent-this": ["error", "me"],
		"linebreak-style": "off",
		"max-nested-callbacks": ["off", 4],
		"new-cap": "error",
		"new-parens": "error",
		"no-array-constructor": "error",
		"no-lonely-if": "error",
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-nested-ternary": "error",
		"no-new-object": "error",
		"no-spaced-func": "error",
		"quote-props": ["error", "as-needed", { "keywords": true, "unnecessary": false }],
		"semi-spacing": ["error", {"before": false, "after": true}],
		"semi": "error",
		"keyword-spacing": "error",
		"space-infix-ops": "error",
		"space-unary-ops": ["error", { "words": true, "nonwords": false }]
	}
}